/* Toolbar icon */
#georapbox-jshint-config-icon {
    background: url(../images/georapbox-jshint-icon.svg) no-repeat 0 0;
}

/*
 * ===========================
 *       JSHINT DIALOG
 * ===========================
*/
.georapbox-jshint-settings-dialog {
	width: 80%;
}

/* Dialog header */
.georapbox-jshint-settings-dialog .header-options {
    position: absolute;
    top: 11px;
    right: 15px;
}

/* Dialog footer */
.georapbox-jshint-settings-dialog .modal-footer.first {
    text-align: left;
    padding-bottom: 5px;
}
.georapbox-jshint-settings-dialog .modal-footer .field-container {
    position: relative;
    padding-top: 5px;
}
.georapbox-jshint-settings-dialog .modal-footer .textarea-options {
    position: absolute;
    top: 11px;
    right: 5px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    display: none;
}
.dark .georapbox-jshint-settings-dialog .modal-footer .textarea-options a {
    color: #3f70b2;
}
.georapbox-jshint-settings-dialog .modal-footer.rollover:hover .textarea-options {
    display: block;
}
.georapbox-jshint-settings-dialog .btn:disabled,
.georapbox-jshint-settings-dialog button:disabled,
.georapbox-jshint-settings-dialog a:disabled {
    opacity: 0.5;
}
.georapbox-jshint-settings-dialog .modal-footer h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    line-height: 1;
    color: #ffffff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #B0C4DE;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
	cursor: default;
}
.dark .georapbox-jshint-settings-dialog .modal-footer h2 {
    background-color: #5d81b2;
}
.georapbox-jshint-settings-dialog .modal-footer textarea {
    width: 100%;
    height: 70px;
    margin-top: 0;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    border: 1px solid #727272;
    color: #121212;
    background: #ffffff !important;
    resize: vertical;
    cursor: default;
}

/* Dialog body */
.georapbox-jshint-settings-dialog h3 {
    font-size: 1.50em;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 5px;
    margin: 0;
}
.georapbox-jshint-settings-dialog .column {
    float: left;
    width: 23%;
    margin: 0 2% 2% 0;
}
.georapbox-jshint-settings-dialog .column.col-5 {
    width: 19%;
    margin: 0 1% 2% 0;
}
.georapbox-jshint-settings-dialog .column div {
    margin-bottom: 3px;
}
.georapbox-jshint-settings-dialog .column select {
    width: 100px;
    margin-bottom: 10px;
}
.georapbox-jshint-settings-dialog .column span.option-name {
    cursor: help;
}
.georapbox-jshint-settings-dialog .column select.true,
.georapbox-jshint-settings-dialog .column select.other {
    background-color: #ffffff;
    color: #000000;
}
.georapbox-jshint-settings-dialog .column select.false {
    background-color: #C0C0C0;
    color: #000000;
}
.georapbox-jshint-settings-dialog .column.last {
    margin-right: 0;
}
.georapbox-jshint-settings-dialog .column input[type="number"] {
    width: 85px;
    margin-bottom: 12px;
}
.georapbox-jshint-settings-dialog .column label {
    font-size: 13px;
    display: inline-block;
    padding-left: 5px;
	cursor: default;
}

/* Media queries */
@media only screen and (max-width: 1366px) {
    .georapbox-jshint-settings-dialog {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .georapbox-jshint-settings-dialog {
        width: 85%;
    }

    .georapbox-jshint-settings-dialog .column {
        width: 100% !important;
        margin: 0 !important;
    }
}
